[Unit]
Description=Todo-Wallpaper Initial Render
After=graphical-session-reach.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env python3 -m todo sync
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
